<section 
    [@loginScreenAnimation]="loginScreenAnimation"
    (@loginScreenAnimation.done)="setBackToUnchecked()">
  <header>
    <h1>Login</h1>
  </header>
  <form (ngSubmit)="onSubmit()" autocomplete='off'>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required />
    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required />
    <button>Login</button>
  </form>
</section>