section {
    position: fixed;
    width: 50%;
    border-radius: 5px;
    background: #FFF;
    left: 25%;
    top: 25%;
    padding: 20px;
}

h1 {
    text-align: center;
}

label, input {
    display: block;
}

input {
    width: 96%;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.4);
    margin-bottom: 4px;
    padding: 2% 2%; 
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    width: 30%;
    height: 32px;
}